@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* ---------------------- SECTION TITRE ---------------------- */

    @font-face {
        font-family: 'super_mario_256';
        src: url("../font/SuperMario256.ttf");
    }

    body{
        background-color: #E9EAEC;
    }

    .sec-titre{
        height: 100%;
        text-align: center;
        background-image: url("../img/header-bg.png");
        /*background-color: #0B0C0C;*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    nav {
        top: 0%;
        font-size: 1.5vw;
        color: #E9EAEC;
        font-family: 'Signika', sans-serif;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1vw 10%;
    }

    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 0.5vw 1vw;
    }

    nav ul li a{
        color: #E9EAEC;
        text-decoration: none;
        font-weight: bold;
    }

    nav ul li a:hover{
        color: #E4B61A;
        transition: 0.3s;
    }

    nav h3:hover{
        color: #E4B61A;
    }

    #logo{
        margin-top: 3.3vw;
        margin-bottom: 1vw;
        height: 10vw;
        width: 10vw;

        animation-duration: 3s;
        animation-name: fondu; /*Lancer l'animation "clignoter" */
        animation-iteration-count: 1; /*Le lancer à l'infini*/
        transition: none;
    }

    #barberpole{
        height: 3vw;
        margin-right: auto;

        animation-duration: 3s;
        animation-name: clignoter; /*Lancer l'animation "clignoter" */
        animation-iteration-count: infinite; /*Le lancer à l'infini*/
        transition: none;
    }

    #grand-titre{
        padding-bottom: 10vw;
        background:-webkit-linear-gradient(top, #FBE134 30%, #E4B61A 70%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        font-size: 5vw;
        /*color: #FBE134;*/
        font-family: 'super_mario_256';
        
        animation-duration: 3s;
        animation-name: fondu;
        animation-iteration-count: 1; 
        transition: none;
        
    }

    @keyframes clignoter { /* Création de l'animation "clignoter" */
        /* L'animation passe l'opacité de visible à invisible pour faire clignoter */
        0%   { opacity:0; }
        40%  { opacity:1; }
        100% { opacity:0; }
    }

    @keyframes fondu {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    #sous-titre{
        padding-bottom: 10vw;
        font-size: 2vw;
        color: #E4B61A;
        font-family: 'Signika', sans-serif;

        animation-duration: 5s;
        animation-name: fondu;
        animation-iteration-count: 1; 
        transition: none;
    }

/* ---------------------- SECTION COSMETIQUES ---------------------- */

.sec-tarifs{
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.contain-cire, .contain-blackmask, .contain-argile, .contain-huile, .contain-cire-totex, .contain-huile-totex {
    max-width: 30vw;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 2vw;
}

.contain-cire h2, .contain-blackmask h2, .contain-argile h2, .contain-huile h2, .contain-cire-totex h2, .contain-huile-totex h2 {
    margin-bottom: 10px;
    font-family: 'Signika', sans-serif;
    text-align: center;
}

.contain-cire p, .contain-blackmask p, .contain-argile p, .contain-huile p, .contain-cire-totex p, .contain-huile-totex p {
    line-height: 1.4;
    font-family: 'Trirong', serif;
}

.contain-cire img, .contain-blackmask img, .contain-argile img, .contain-huile img, .contain-cire-totex img, .contain-huile-totex img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    margin: 0 20px 5px 0;
}

span{
    font-family: 'Trirong', serif;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

#first_column{
    display: flex;
    margin-left: 15%;
}

#second_column{
    display: flex;
    margin-left: 15%;
}

#third_column{
    display: flex;
    margin-left: 15%;
}

.contain-cire{
    margin-right: 5%;
}

.contain-argile{
    margin-right: 5%;
    padding: 6.4vh;
}

.contain-blackmask {
    padding: 6.4vh;
}

.contain-cire-totex{
    margin-right: 5%;
}

.contain-huile-totex{
    padding: 7.5vh;
}


/* ---------------------- PIED DE PAGE ---------------------- */

.pied-de-page {
    height: 35vh;
    background-image: url("../img/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    background-color: #0B0C0C;
}

footer span {
    font-size: 0.8vw;
    color: #E9EAEC;
    font-family: 'Signika', sans-serif;
}

#fb{
    margin-left: 45.5%;
    margin-bottom: 13px;
    margin-top: 8%;
    cursor: pointer;
}

#ig{
    margin-top: 8%;
    cursor: pointer;
}


/* ---------------------- PIED DE PAGE ---------------------- */

footer {
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    background-color: #0B0C0C;
}

footer span {
    font-size: 0.8vw;
    color: #E9EAEC;
    font-family: 'Signika', sans-serif;
}


/* ---------------------- MEDIA QUERY (responsive) ---------------------- */

    @media (max-width: 1200px) {

        #barberpole{
            display: none;
        }
        
        nav{
            justify-content: center;
        }

        li, header a, button{
            font-size: 3vw;
        }

        #contact button{
            font-size: 2.3vw;
        }

        .sec-titre{
            background-size: 100vw 63vw;
        }

        #logo{
            height: 12vw;
            width: 12vw;
        }
        
        #grand-titre{
            font-size: 7vw;
        }

        footer span{
            font-size: 3vw;
        }

        #first_column{
            display: inherit;
        }
        
        #second_column{
            display: inherit;
        }
        
        #third_column{
            display: inherit;
        }

        .contain-cire, .contain-blackmask, .contain-argile, .contain-huile, .contain-cire-totex, .contain-huile-totex {
            max-width: 100vw;
        }
        
        .contain-cire h2, .contain-blackmask h2, .contain-argile h2, .contain-huile h2, .contain-cire-totex h2, .contain-huile-totex h2 {
            margin-top: 30vh;
        }

        .contain-cire{
            margin-right: 13%;
        }
        
        .contain-argile{
            margin-right: 13%;
        }
        
        .contain-blackmask {
            margin-right: 13%;
        }
        
        .contain-cire-totex{
            margin-right: 13%;
        }
        
        .contain-huile{
            margin-right: 13%;
        }

        .contain-huile-totex{
            margin-right: 13%;
        }
    }